body {
    font-family: monospace;
    font-size: 200%;
}

header {
    background-color: #d5dce3f4;
    font-family: cursive;
}

nav {
    background-color: #cfc8e9;
}

main {
    background-color: #addbc7;
    font-size: 70%;
}

footer {
    background-color: #2ac073;
    font-size: 48%;
}

li {
    display: inline-block;
    width: 320px;
    text-align: center;
    font-family: fantasy;
}

h1 {
    text-align: center;
    font-family: georgia;
    color: rgb(30, 58, 58);
    
}

p {
    color: black;
    line-height: 85px;
}


li{
    border: 1px solid black;
    background-color: yellow;
    justify-content: space-between;
}
ul{
    display:flex;
    justify-content: space-between;
}

#Border{
    border-width: 3px;
}
#logocenter img{
    border: 8px solid #074123;
    
    
}
img{
    border: 8px solid black;
}
#logocenter img{
    color: rgb(222, 199, 182);
    background: rgb(61, 20, 5);
    line-height: 200px;
    text-align: center;
    width: 250px;
    height: 200px;
    border-radius: 6px;

    transition-property: color, width, background, border-radius;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: .5s;
    transition: .5s linear .5;
}
#logocenter img:hover{
    color: #ffff;
    width: 350px;
    background: crimson;
    border-radius: 50%;

}
#logocenter img:active {
    color: #ffff;
    width: 150px;
    background: crimson;
    

}